<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.ibm.airlockSampleApp"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- Required only when requesting background location access on Android 10 (API level 29). -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ibm.airlock.sdk.ui.GroupsManagerActivity"
            android:label="@string/user_groups_activity_title"></activity>
        <activity
            android:name="com.ibm.airlock.sdk.ui.BranchesManagerActivity"
            android:label="@string/airlock_purchases_activity_title"></activity>

        <activity
            android:name="com.ibm.airlock.sdk.ui.StreamsManagerActivity"
            android:label="@string/user_streams_activity_title"></activity>
        <activity
            android:name="com.ibm.airlock.sdk.ui.AirlyticsManagerActivity"
            android:label="@string/user_streams_activity_title"></activity>
        <activity
            android:name="com.ibm.airlock.sdk.ui.EntitlementsManagerActivity"
            android:label="@string/user_streams_activity_title"></activity>
        <activity
            android:name="com.ibm.airlock.sdk.ui.NotificationsManagerActivity"
            android:label="@string/user_streams_activity_title">
        </activity>
        <activity
            android:name="com.ibm.airlock.sdk.ui.AirlockSelectServerActivity"
            android:label="@string/server_list_activity_title"></activity>
        <activity
            android:name="com.ibm.airlock.sdk.ui.DebugFeaturesActivity"
            android:label="@string/airlock_features_activity_title"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name="com.ibm.airlock.sdk.ui.DebugExperimentsActivity"
            android:label="@string/airlock_experiments_activity_title"
            android:windowSoftInputMode="stateHidden"></activity>
    </application>

</manifest>